@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body{
    background-color: #d2700da2 !important;
}

#alinhar{
    width: 100mm !important;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#content{
    padding: 0 !important;
    font-family: 'Courier Prime', monospace !important;
    width: 100mm !important;
    height: 150mm !important;
    background-image: url("img/Fundo.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#botao{
    z-index: 2 !important;
    margin-top: 10px !important;
    margin-left: 60%;
    margin-bottom: 30px;
}

input:focus{
    box-shadow: 0 0 0 0 !important;
    outline: 0 !important;
    border-color: black !important;
} 

input{
    padding-top: 0 !important;
    background-color: transparent !important;
    border-color: black !important;
    font-size: 13px !important;
    height: 5mm !important;
    border: 0 !important;
    border-radius: 0 !important;
    position: absolute;
}

#nome{
    padding-right: 35px;
    top: 77px;
    left: 10px;
}

#cpf{
    padding-left: 3px;
    width: 125px;
    top: 114px;
    left: 10px;
}